#CradsDiv0 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
#CradsDiv1 {
    position: relative;
    display: flex;
    height: 70%;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 10%;
}
.allCards { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ActiveCard {
    background-image: url('CardsPng/CardBack.jpg');
    width: 100px;
    height: 100px;
}
#CradsDiv2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
#CradsDiv3 {
    position: relative;
    display: flex;
    height: 70%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    width: 10%;
}
.InGameButtons{
    display: flex;
    background-color: #3e8e41;
    width: 400px;
    height: 400px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.Buttons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.PlayerButtons{
    border: 0px;
    width: 126px;
    height: 126px;
    margin-top: 1%;
    margin-left: 2%;   
    transition-duration: 0.4s;
    cursor: pointer;
}
.PlayerButtons:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.PlayerButtons:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }
  .DifficultyButtons{
    border: 0px;
    width: 126px;
    height: 126px;
    margin-top: 1%;
    margin-left: 2%;   
    transition-duration: 0.4s;
    cursor: pointer;
}

.GameButton {
    display: none;
    border: 0px;
    width: 126px;
    height: 126px;
    margin-top: 1%;
    margin-left: 2%;   
    transition-duration: 0.4s;
    cursor: pointer;
}
.GameButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.GameButton:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }
.DifficultyButtons:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.DifficultyButtons:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

#SecButtons{
    display: none;
}